.button{
    margin: 0;
    padding: 0;
   
   
}
.button a{
    
    display: flex;
    justify-content:center;
    align-items: center;
    /* margin-top: 80px;
    margin-left: 100px; */
    /* width: 250px;
    height: 60px; */
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 30px;

    

}
.button a:hover{
    animation: animate 8s linear infinite;
}
@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}
